

#top-card{
    background: linear-gradient(#FF7F3F,#FF9F00,#6DE1D2);
    width: 100%;
    border: 1px solid black;
}

.top-card-text{
    color: white;
    text-shadow: #FBDF07 1px 0 10px;
}

.title{
    text-shadow: #FBDF07 1px 0 10px;
    font-family: "Playfair Display", serif;
    letter-spacing: 5px;
}

.float{
    float: left;
    padding-right: 15px;
}

.skill{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    gap: 20%
}

#skill-card{
    background-image: url(./assets/images/skill-bg.png);
    background-size: cover;
    height: 990px;
    border: 1px solid black;
}

.skill-lead{
    text-shadow: #FBDF07 1px 0 10px;
    color: white;
    font-family: "Playfair Display", serif;
    letter-spacing: 5px;
}

.skill-text{
    text-shadow: #fc0 1px 0 10px;
    color: white;
    font-weight: 450;
}

@media(max-width: 1400px){
    #skill-card{
        height: 1100px;
    }
}

@media(max-width: 1200px){
    .float{
        float: none;
    }
    #skill-card{
        height: 1425px;
    }
    .guitar{
        width: 250px ;
        height: 250px;
    }
 
    .top-card-text{
        text-align: center;
    }
}
@media(max-width: 990px){
   .family-pic{
        height: 400px;
        width: 675px;        
    }

    #skill-card{
        height: 1600px;;
    }
}
@media(max-width: 900px){
    .skill{
        grid-template-columns: 100%;
        grid-template-rows: 30% 25% 25% 40% ;
        gap: 0px;
    }
    
    #skill-card{
        height: 1975px;
    }

    .guitar{
        padding-left: 38px;
    }
    .skill-lead{
        text-align: center;
    }

    .skill-text{
        text-align: center;
    }

    .skill-image{
        margin: 5px 0 5px 29%;
    }
}

@media(max-width: 767px){
    .family-pic{
        width: 500px;
    }
    #skill-card{
        height: 2100px;
    }

    .skill-image{
        margin: 5px 0 5px 22%;
    }    
}

@media(max-width: 754px){
   
    #skill-card{
        height: 2175px;
    }

   
}

@media(max-width: 574px){
    .family-pic{
        width: 121%;
        height: 121%
    }
}

@media(max-width: 510px){
   #skill-card{
        height: 2225px;
    }
}

@media(max-width: 500px){
   #skill-card{
        height: 2125px;
    }
}

@media(max-width: 497px){
   #skill-card{
        height: 2230px;
    }

    .skill-image{
        margin: 5px 0 5px 15%;
    }
}
@media(max-width: 484px){
   #skill-card{
        height: 2230px;
    }

    .skill-image{
        margin: 5px 0 5px 15%;
    }
}

@media(max-width: 468px){
   #skill-card{
        height: 2300px;
    }
}

@media(max-width: 444px){
   #skill-card{
        height: 2370px;
    }
}

@media(max-width: 417px){
   #skill-card{
        height: 2400px;
    }

     .skill-image{
        margin: 5px 0 5px 8%;
    }

}

@media(max-width: 400px){
   #skill-card{
        height: 2550px;
     }

}

@media(max-width: 376px){
       .skill-image{
        margin: 5px 0 5px 6%;
    }
}

@media(max-width: 350px){
   #skill-card{
        height: 2775px;
     }

     .skill-image{
        margin: 5px 0 5px 0%;
    }
}